#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID           "your_wifi_ssid"
#define WIFI_PASS           "your_wifi_password"
#define GOOGLE_API_KEY      "your_google_cloud_api_key"
#define GOOGLE_STT_LANG     "en-US"
#define TODOIST_API_TOKEN   "your_todoist_api_token"
#define TODOIST_PROJECT_ID  "your_todoist_project_id"

#endif // SECRETS_H
